.searched__movies {
    display: flex;
}

.searched__movies {
    width: 150px;
    text-align: center;
}

.filtered__moviePoster {
    height: 250px;
}

.searched__movieContainer {
    margin: 15px;
}

.filtered__moviePoster:hover {
    position:relative;
    width:170px;
    height:auto;
    display:block;
    z-index:999;
  }

.add__movieButton {
    align-items: center;
    opacity: 0.25;
    font-size: 35px;
    background-color: Transparent;
    border: none;
}

.add__movieButton:focus {
    color: navy;
    opacity: 1;
    outline: none;
    border: none;
}

fieldset {
    border: none;
}

select {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 0px 20px 20px;
}

.movie__photo {
    height: 290px;
}

.movie__search {
    margin: 20px
}

.movie__details {
    min-height: 100vh;
    text-align: center;
    margin: auto;
    width: 34%;
    margin-top: 50px;
}