.searched__movies {
    display: flex;
}

.searched__movies {
    width: 150px;
    text-align: center;
}

.filtered__moviePoster {
    height: 250px;
}

.add__movieButton {
    width: 30px;
    align-items: center;
    opacity: 0.25;
}

/* .add__movieButton:hover {
    background-color: navy;
    color: white;
    opacity: 1;
} */

.add__movieButton:focus {
    background-color: navy;
    color: white;
    opacity: 1;
}

fieldset {
    border: none;
}

select {
    padding: 8px 16px;
    border: 1px solid #0d47a1;
    border-radius: 1em;
}