.searched__movies {
    display: flex;
}

.searched__movieContainer {
    width: 150px;
    margin: 5px 0px;
    text-align: center;
}

.filtered__moviePoster {
    height: 200px;
}

.add__movieButton {
    width: 30px;
    opacity: 0.25;
}

.add__movieButton:hover {
    background-color: navy;
    color: white;
    opacity: 1;
}

.add__movieButton:focus {
    background-color: navy;
    color: white;
    opacity: 1;
}

fieldset {
    border: none;
}