.watchlist {
  display: flex;
  flex-wrap: nowrap;
  /* margin: 10px;   */
  padding: 30px;   
  height: 300px; 
  overflow: auto;  
  white-space: nowrap; 
  flex-direction: row;
  background-image: linear-gradient(to bottom right, #020024, #4a4e58);
  margin: 20px 0px 20px 20px;
  border-radius: 3px;
  box-shadow: 0 6px 8px -3px black;
}

.movie__poster {
  height: 290px;
  box-shadow: 0 6px 8px -3px black;
}

.movie__poster:hover {
  position:relative;
  width:200px;
  height:auto;
  display:block;
  z-index:999;
}

.new__watchlistButton {
  margin-left: 30px;
}

.movie__card {
  text-align: center;
  margin-right: 20px;
}

.watchlist__buttons {
  display: flex;
  flex-direction: column;
}

.watchListForm {
  margin: auto;
  position: relative; 
}

.watchlist__name {
  text-align: center;
  color: white;
}

.watchListForm__title {
  padding: 20px;
}

.watchlist__name {
  width: 250px;
}

