

  .watchlist {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;  
    padding: 30px;   
    height: 300px; 
    overflow: auto;  
    white-space: nowrap; 
    flex-direction: row
}

.movie__poster {
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #003300;
    height: 300px;
}