@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");


body {
    min-height: 100vh;
    background-image: linear-gradient(180deg, #e6f2ff, white);
}

body,
button,
input,
select,
textarea {
  color: #072238;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

h3 {
  font-family: "Raleway", sans-serif;
}