@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");


body {
    min-height: 100vh;
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}