.navbar {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    background-color: #0d47a1;
    height: 65px;
    box-shadow: 4px 4px 30px -2px rgba(0, 0, 0, 0.19);
}

.navbar__item {
    flex-basis: 40%;
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    color: white;
}

img {
   align-content: center;
   margin: 8px 0px 0px 40px;
}

.navbar__link {
    border: solid 2px #ffca28;
    border-radius: 2px;
}

.navbar__link:link {
    color: white;
    text-decoration: none;
    padding: 5px 8px;
}

.navbar__link:visited {
    color: white;
}

img {
    margin-right: 30px;
}