.navbar {
    
    width: 100%;
  
    background: #eee;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(to bottom right, black, #0B1C28);
    height: 200px;
    box-shadow: 0px 0px 40px 0px black;
    border-radius: 2px;
    padding: 30px 0px 0px 0px;
}

.nav__links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px 0px 0px 0px;
    font-weight: bold;
}

.navbar__item {
    /* flex-basis: 40%;
    text-align: center;
    margin-top: 20px;
    list-style-type: none;
    color: white;
    font-weight: bold;
*/
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

.logo {
    display: block;
    height: 100%;
    margin: auto;
    box-shadow: 12px 50px 81px 0px rgba(0,0,0,0.75);
}

.navbar__link {
    border-bottom: 2px solid #1F7EFD;
}

.navbar__link:link {
    color: white;
    text-decoration: none;
    padding: 5px 8px;
    border-bottom: 2px solid #1F7EFD
}

.navbar__link:visited {
    color: white;
}