.form--login {
    text-align: center;
    margin-left: 0px;
}

.register {
    text-align: center;
    align-items: center;
    margin: 50px 0px 30px 0px;
}

hr {
    width: 50%;
}

.register-link {
    text-decoration: none;
    color: #1976d2;
}